<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Basic Table</h6>
        <ejs-grid [dataSource]='data' [allowPaging]='true' [allowSorting]='true'>
          <e-columns>        
            <e-column field='OrderID' headerText='Order ID' textAlign='Right' width='120'></e-column>        
            <e-column field='CustomerID' headerText='Customer ID' width='120'></e-column>        
            <e-column field='Freight' textAlign='Right' format='c2' width='120'></e-column>        
            <e-column field='ShipCountry' headerText='Ship Country' width='140'></e-column>     
            <e-column field='ShipCountry' headerText='Country' width='140'></e-column>        
            <e-column field='ShipCountry' headerText='Ship' width='140'></e-column>        
            <e-column field='ShipCountry' headerText='Left' width='140'></e-column>        
            <e-column field='ShipCountry' headerText='Right' width='140'></e-column>
          </e-columns>        
        </ejs-grid>

      </div>
    </div>
  </div> 
</div>