<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Charts & graphs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ng-apexcharts</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Syncfusion Charts</h4>
        <p class=“text-muted”>Read the <a href="https://ej2.syncfusion.com/angular/documentation/chart/getting-started" target="_blank"> Official Syncfusion Documentation </a>for a full list of instructions and other options.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Line chart</h6>
        <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
            <e-series-collection>
                <e-series [dataSource]='chartData' type='MultiColoredLine' xName='x' yName='y' name='WO' width=2 [marker]='marker'
                pointColorMapping= 'color'></e-series>
            </e-series-collection>
        </ejs-chart>  

      </div>
    </div>
  </div>
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Bar chart</h6>
        <ejs-chart id="chart-container1" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
            <e-series-collection>
                <e-series [dataSource]='chartData' type='Bar' xName='x' yName='y' name='India'></e-series>
            </e-series-collection>
        </ejs-chart>       

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Area chart</h6>

        <ejs-chart id="chart-container2" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
            <e-series-collection>
                <e-series [dataSource]='chartData' type='Area' xName='x' yName='y' name='Product A' fill='#69D2E7' opacity=0.6></e-series>
            </e-series-collection>
        </ejs-chart>

      </div>
    </div>
  </div>
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Mixed chart</h6>

        <ejs-chart id="chart-container3" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
            <e-series-collection>
                <e-series [dataSource]='chartData' type='StackingColumn' xName='x' yName='y' name='UK'></e-series>
                <e-series [dataSource]='chartData' type='StackingColumn' xName='x' yName='y1' name='Germany'></e-series>
                <e-series [dataSource]='chartData' type='StackingColumn' xName='x' yName='y2' name='France'></e-series>
                <e-series [dataSource]='chartData' type='StackingColumn' xName='x' yName='y3' name='Italy'></e-series>
            </e-series-collection>
        </ejs-chart>

      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Donut chart</h6>

        <apx-chart
          [series]="donutChartOptions.series"
          [chart]="donutChartOptions.chart"
          [colors]="donutChartOptions.colors"
          [stroke]="donutChartOptions.stroke"
          [legend]="donutChartOptions.legend"
          [dataLabels]="donutChartOptions.dataLabels"
        ></apx-chart>

      </div>
    </div>
  </div>
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Pie chart</h6>

        <apx-chart
          [series]="pieChartOptions.series"
          [chart]="pieChartOptions.chart"
          [colors]="pieChartOptions.colors"
          [stroke]="pieChartOptions.stroke"
          [legend]="pieChartOptions.legend"
          [dataLabels]="pieChartOptions.dataLabels"
        ></apx-chart>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">HeatMap chart</h6>

        <apx-chart
          [series]="heatMapChartOptions.series"
          [chart]="heatMapChartOptions.chart"
          [colors]="heatMapChartOptions.colors"
          [grid]="heatMapChartOptions.grid"
          [dataLabels]="heatMapChartOptions.dataLabels"
          [stroke]="heatMapChartOptions.stroke"
          [xaxis]="heatMapChartOptions.xaxis"
          [yaxis]="heatMapChartOptions.yaxis"
          [title]="heatMapChartOptions.title"
          [plotOptions]="heatMapChartOptions.plotOptions"
          [theme]="heatMapChartOptions.theme"
        ></apx-chart>

      </div>
    </div>
  </div>
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Radar chart</h6>

        <apx-chart
          [series]="radarChartOptions.series"
          [chart]="radarChartOptions.chart"
          [colors]="radarChartOptions.colors"
          [grid]="radarChartOptions.grid"
          [legend]="radarChartOptions.legend"
          [labels]="radarChartOptions.labels"
          [stroke]="radarChartOptions.stroke"
          [fill]="radarChartOptions.fill"
          [xaxis]="radarChartOptions.xaxis"
          [yaxis]="radarChartOptions.yaxis"
          [markers]="radarChartOptions.markers"
          [plotOptions]="radarChartOptions.plotOptions"
        ></apx-chart>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 grid-margin grid-margin-xl-0 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Scatter chart</h6>

        <apx-chart
          [series]="scatterChartOptions.series"
          [chart]="scatterChartOptions.chart"
          [colors]="scatterChartOptions.colors"
          [grid]="scatterChartOptions.grid"
          [markers]="scatterChartOptions.markers"
          [legend]="scatterChartOptions.legend"
          [xaxis]="scatterChartOptions.xaxis"
          [yaxis]="scatterChartOptions.yaxis"
        ></apx-chart>

      </div>
    </div>
  </div>
  <div class="col-xl-6 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">RadialBar chart</h6>

        <apx-chart
          [series]="radialBarChartOptions.series"
          [chart]="radialBarChartOptions.chart"
          [colors]="radialBarChartOptions.colors"
          [grid]="radialBarChartOptions.grid"
          [plotOptions]="radialBarChartOptions.plotOptions"
          [labels]="radialBarChartOptions.labels"
          [legend]="radialBarChartOptions.legend"
        ></apx-chart>

      </div>
    </div>
  </div>
</div> -->