:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-border {
    border-radius: 8px;
    border: 1px solid;
    border-color: #e9e3e3;
}

.ancorlink{
  text-decoration: underline;
  color: #074CE7;
}

.nobleui-logo {
  font-weight: 700;
  font-size: 32px !important;
  color: black;
}

.f10{
  font-size:10px
}

.h15{
  height: 15px;
}

.w33{
  width: 33%;
}

.textborder{
  border: 1px solid #7d7d7d !important;
}