<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Advanced UI</a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Syncfusion Drag & drop</h4>
        <p class=“text-muted”>Reorderable drag-and-drop lists for modern browsers and touch devices. Read the <a href="https://ej2.syncfusion.com/angular/documentation/list-box/drag-and-drop#:~:text=Multiple%20listbox-,To%20drag%20and%20drop%20an%20item%20or%20group%20of%20item,to%20both%20the%20list%20boxes." target="_blank"> Official Syncfusion Documentation </a>for a full list of instructions and other options.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title mb-3">Simple list</h6>
        <ejs-listbox [dataSource]="data" [allowDragAndDrop]="true" [fields]="setfield"></ejs-listbox>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title mb-3">Handle</h6>
        <div class="drag-drop-wrapper">
          <div class="row">
            <div class="col-6">
              <div class="listbox-control1">
                <h4>Group A</h4>
                <ejs-listbox [dataSource]="groupA" [allowDragAndDrop]="true" [fields]="setfield" scope="combined-list" height="290px"></ejs-listbox>
              </div>
            </div>
            <div class="col-6">
              <div class="listbox-control2">
                <h4>Group B</h4>
                <ejs-listbox [dataSource]="groupB" [allowDragAndDrop]="true" [fields]="setfield" scope="combined-list" height="290px"></ejs-listbox>
              </div>
            </div>
          </div>                  
        </div>
      </div>
    </div>
  </div>
</div>